/*
  * @Module: 变量
 * @Author: 小缘
 * @Date: 2017-08-16 23:14:53
 */
// 主色调
$color-min: #4399ff;

// 响应式
$mobile-width: 600px;

// 左右padding
$view-padding: 50px;

// header高度
$header-height: 60px;

// menu-width
$pc-menu-width: 300px;